
body {
    height: 100dvh;
    overflow-y: hidden;
    font-family: "Inter", sans-serif;
    background-image: linear-gradient(to bottom, #FFFFFF 0%, #999999 100%);
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 100px 15px 0 15%;
    font-size: clamp(36px, 6vw, 70px);
    font-weight: 800;
    color: #282828;
}

h2 {
    margin: 10px 15px 0 15%;
    font-size: clamp(24px, 3vw, 45px);
    font-weight: 700;
    color: #3D3D3D;
}
